<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pagetitle %> | <%= sitetitle %></title>
</head>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/login-as?username=mary">Login as Mary (preferred customer)</a> |
    <a href="/login-as?username=guest">Login as Guest (regular customer)</a> |
    <a href="/logout">Logout</a>
    <% if (user) { %>
      | logged-in as <strong><%= user.username %></strong>
    <% } %>
  </nav>